h1{
	text-transform: uppercase;
	margin: 0;
	color: white;
	padding: 10px 20px;
	background-color: #2980b9;
}
.container{
	width: 360px;
	margin: 100px auto;
	background-color: #f7f7f7;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: white;
}
#input{
	padding: 10px 20px;
	margin: 0;
	width: 300px;
	border: 1px #f7f7f7;
	box-sizing: border-box;
	height: 40px;
	font-size: 15px;
	background-color: #f7f7f7;
	display: inline-block;
}
body{
	background: linear-gradient(to right, #26a0da, #314755);
}
input:focus{
	outline: none;
}
span:hover{
	background-color: red;
	color: white;
}
span{
	float: right;
	text-align: center;
	font-size: 18px;
	color: black;
	height: 100;
	width: 40px;
	margin-right: 10px;
	padding: 0;
}
li{
	height: 40px;
	line-height: 40px;
	padding: 0.4px 0px;
	padding-left: 10px;
}
.selected{
	text-decoration: line-through;
}
.add{
	text-decoration: none;
}
.s:checked + li{
  text-decoration:line-through
}